<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="hello-cordova-plugin-camera"
    version="0.0.1">
    <name>HelloCameraPlugin</name>
    <description>Hello Cordova Camera Plugin</description>
    <license>MIT</license>
    <keywords>cordova,camera</keywords>
    <repo>https://github.com/greenb75/hello-cordova-plugin-camera</repo>

    <engines>
        <engine name="cordova" version=">=8.0.0"/>
        <engine name="cordova-android" version=">=8.0.0" />
        <engine name="cordova-ios" version=">=5.1.0" />
    </engines>

    <js-module src="www/HelloCameraConstants.js" name="HelloCamera">
        <clobbers target="HelloCamera" />
    </js-module>

    <js-module src="www/HelloCameraPopoverOptions.js" name="HelloCameraPopoverOptions">
        <clobbers target="HelloCameraPopoverOptions" />
    </js-module>

    <js-module src="www/HelloCamera.js" name="helloCamera">
        <clobbers target="navigator.helloCamera" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HelloCamera">
                <param name="android-package" value="com.example.cordova.plugin.camera.HelloCameraLauncher"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="application">
          <provider
              android:name="com.example.cordova.plugin.camera.FileProvider"
              android:authorities="${applicationId}.cordova.plugin.camera.provider"
              android:exported="false"
              android:grantUriPermissions="true" >
              <meta-data
                  android:name="android.support.FILE_PROVIDER_PATHS"
                  android:resource="@xml/camera_provider_paths"/>
          </provider>
        </config-file>

        <source-file src="src/android/HelloCameraLauncher.java" target-dir="src/com/example/cordova/plugin/helloCamera" />
        <source-file src="src/android/FileHelper.java" target-dir="src/com/example/cordova/plugin/helloCamera" />
        <source-file src="src/android/ExifHelper.java" target-dir="src/com/example/cordova/plugin/helloCamera" />
        <source-file src="src/android/FileProvider.java" target-dir="src/com/example/cordova/plugin/helloCamera" />
        <source-file src="src/android/xml/camera_provider_paths.xml" target-dir="res/xml" />

        <js-module src="www/HelloCameraPopoverHandle.js" name="HelloCameraPopoverHandle">
            <clobbers target="HelloCameraPopoverHandle" />
          </js-module>

        <preference name="ANDROID_SUPPORT_V4_VERSION" default="27.+"/>
        <framework src="com.android.support:support-v4:$ANDROID_SUPPORT_V4_VERSION"/>

    </platform>

    <!-- browser -->
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="HelloCamera">
                <param name="browser-package" value="HelloCamera" />
            </feature>
        </config-file>

        <js-module src="src/browser/HelloCameraProxy.js" name="HelloCameraProxy">
            <runs />
        </js-module>
    </platform>
</plugin>
